@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem;
}

.logo{
  font-size: 2rem;
  font-weight: 700;
}
.logo span{
  color: red;
}

.navlinks .navlink{
  list-style: none;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.navlink:hover{
  color: red !important;

}

#mobile-screen{
  display: none;
}
.toggle{
  position: fixed;
  right: 80px;
  top: 40px;
}

@media screen and (max-width: 769px){
  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 90px;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: #bcb7b7;
    margin-bottom: 1.5rem;
  }

  #mobile-screen{
    display: block;
  }
}

.home-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text{
  width: 500px;
  margin: 0 auto;
  margin-top: 4rem !important;
}

.banner-text h1{
  font-size: 40px;
  padding-bottom: 1rem;
}

.banner-text button{
  border: none;
  border-radius: 2px;
  padding: 12px;
  font-size: 20px;
  margin-top: 1.5rem;
  background-color: red;
  color: #232323;
}

.banner-text button:hover{
  cursor: poiter;
  background-color: #232323;
  color: #fff;
}

.banner-text p{
  font-size: 20px;

}
.banner-img{
  margin-right: 1rem;
  height: 400px;
  object-fit: cover !important;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.about-banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-banner img{
  width: 800px;
}

.about-header {
  width: 500px;
  margin-left: 10rem !important;
  margin-top: 4rem !important;
}

.about-header h1 {
  border: 5px solid red;
  padding-left: 10px;
  width: 200px;
}
.about-header h2{
  font-size: 50px;
}

.second{
  position: absolute ;
  top: 180px ;
  left: 530px ;
}

.about-img{
  width: 100%;
  filter: opacity(90%);
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h5{
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
  text-align: center;
}

.about-content p{
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.error404 h1{
  text-align: center;
  font-size: 2rem;
  color: red;

}

.error404 p{
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 10rem;
  padding-left: 4rem;
}

.users-section{
  max-width: 800px;
  margin: 2rem auto;
}

.users-section h1{
text-align: center;
border: 1px solid red;
border-radius: 2px;
}

.users-section p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.usersBtn{
  padding: 5px;
  border: none;
  background-color: #232323;
  color: #fff;
  border-radius: 2px;
  margin: 3px;
}

.prev-next{
  padding: 5px;
  border: none;
}

/* popup */
.popup-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;

}

.popup-inner{
  position: relative;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  background-color: #fff;
}

.logOut{
  border: none;
}
.logOut{
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: red;
  color: #232323;
}

.logOut:hover{
  cursor: poiter;
  background-color: #232323;
  color: #fff;
}